<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="per" class="com.nt.beans.Person">
<property name="pid" value="1001"/> 
<property name="pname" value="Ajay"/>
<property name="paddrs" value="Azamgarh"/>
<property name="income" value="5555.55f"/>
</bean>
<bean id="per1" class="com.nt.beans.Person1">
<constructor-arg name="pid" value="1001"/> 
<constructor-arg name="pname" value="Vishal"/>
<constructor-arg name="paddrs" value="Bangalore"/>
<constructor-arg name="income" value="12345.56f"/>
</bean>
</beans>